@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* vh means viewport width */
    margin: 0;
    background-color: #34495e;
    ;
}

.container {
    background-color: #9065f6;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}
/* rem: how many times the browser size. Since browser use 16px as default, 2rem = 32px */
.timer {
    position: absolute;
    top: 2rem; /* pushes the timer upwards*/
    font-size: 3rem;
    color: #9065f6;

}

.quote-display {
    margin-bottom: 1rem;
}

.quote-input{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    height: 8rem; /*making this large also makes the outer container large*/
    width: 100%; /*fills up the entire container*/
    margin: auto;
    padding: 1rem;
    
}

.correct{
    color: #27eb61;
}

.incorrect {

}